################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JWTCore2/bin/Debug/netcoreapp2.1
